{% assign seo_description = page.description | default: site.description %}
{% if page.url == "/" %}
  {% assign seo_title = site.title %}
{% else %}
  {% assign seo_title = page.title | append: " | " | append: site.title %}
{% endif %}
<title>{{ seo_title | escape }}</title>
<meta name="description" content="{{ seo_description | escape }}">
{% if site.url and site.url != "" %}
<link rel="canonical" href="{{ page.url | absolute_url }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:title" content="{{ seo_title | escape }}">
<meta property="og:description" content="{{ seo_description | escape }}">
{% if site.url and site.url != "" %}
<meta property="og:url" content="{{ page.url | absolute_url }}">
{% endif %}
<meta name="twitter:card" content="summary">
